{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>Lebonfork</h1>
        <p>Bienvenue sur le bon fork</p>
    </div>
    <div class="container">
        <h2>Les derniers biens</h2>


        <div class="row flex">
            {% for product in products %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('product.show', {id: product.id, slug: product.slug}) }}">{{ product.title }}</a>
                            </h5>
                            <p class="card-test">{{ product.description }}</p>
                            <div class="text-danger" style="font-weight: bold; font-size: 3rem;">{{ product.price }} €</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
