{% extends 'base.html.twig' %}

{%  block title "Voir les biens" %}

{% block body %}


    <div class="jumbotron text-center">
        <h1>Les biens</h1>
        <p>Voici les biens en vente</p>
    </div>
    <div class="contrainer mt-4">
        <h1>Tous les biens</h1>
    </div>

{% endblock %}
